/**
* Lightbox
*/
@keyframes openLightbox {
  from {
    /* Débute avec une échelle de 0 (invisible) */
    scale: 0; 
  }
  to {
  /* Finit avec une échelle de 1 (taille normale) */
    scale: 1; 
  }
}

#lightbox[open] {
/* Ajoute un espace de 50px autour de l'élément */
  padding: 50px; 
  /* Applique l'animation "openLightbox" pendant 0.5 seconde */
  animation: openLightbox 0.5s; 
  /* Arrondit les coins à 20px */
  border-radius: 20px; 
  /* Ajoute une bordure de 5px bleu foncé */
  border: 5px solid rgb(143, 22, 167); 
}


#lightbox[open]::backdrop {
/* Définit le fond en orange foncé */
  background-color: rgb(174, 79, 229); 
  /*Définit l'opacité à 0.3 (30%) */
  opacity: 0.3; 
/* Applique une transition douce de 3 secondes */
  transition: ease 3s; 
}

#lightbox img {
    /* Définit la largeur de l'image à 60% de la largeur de la fenêtre */
  width: 60vw; 
  /* Ajuste la hauteur automatiquement */
  height: auto; 
}

